main {
  margin: 1em;
}

.word-text,
.word-lemma,
.word-translation,
.line-translation {
  font-family: Times, serif;
}

.line {
  margin: 1em 0;
}

.line-menu {
  float: right;
}

.words {
  display: flex;
  flex-wrap: wrap;
}

.word-separator {
  width: 1em;
  height: 100%;
}

.word-separator-caret {
  margin-top: 2em;
}

.word-text,
.word-translation {
  display: block;
}

.word-text {
  font-size: larger;
  border-bottom: thin solid black;
}

/* vim: set ts=2 sw=2 et: */
