.line {
    display: flex;
    flex-wrap: wrap;
}

.word {
    margin: 0.2in 0.1in;
    width: -moz-min-content;
    width: -webkit-min-content;
    flex-basis: auto;
}

.selectors {
    display: flex;
    flex-wrap: wrap;
}

.text, .translated {
    display: block !important;
}

input {
    font-family: serif;
}

select {
    font-size: 8pt;
    font-family: monospace;
}

@media print {
    input, select {
        -webkit-appearance: none;
        border: none;
        background: transparent;
    }

    button {
        visibility: hidden;
    }
}
/* vim: set ts=4 sw=4 et: */
